---
import Layout from '@/layouts/Layout.astro'
import Fondo from '@/assets/fondos/novios.webp'
import Gif from '@/assets/fondos/tarjetas.gif'
import Hilos from '@/assets/fondos/hilos.gif'
import Novios from '@/assets/fondos/versiculo-novios.webp'
import Foto1 from '@/assets/carrusel/01.webp'
import Foto2 from '@/assets/carrusel/02.webp'
import Foto3 from '@/assets/carrusel/03.webp'
import Foto4 from '@/assets/carrusel/04.webp'
import Foto6 from '@/assets/carrusel/06.webp'
import Foto7 from '@/assets/carrusel/07.webp'
import Foto9 from '@/assets/carrusel/09.webp'
import Foto10 from '@/assets/carrusel/10.webp'
import Foto12 from '@/assets/carrusel/12.webp'
import Foto13 from '@/assets/carrusel/13.webp'
import Foto14 from '@/assets/carrusel/14.webp'
import Foto15 from '@/assets/carrusel/15.webp'
import Foto16 from '@/assets/carrusel/16.webp'
import PapelMapa from '@/assets/fondos/papel-mapa.webp'
import Mapa from '@/assets/fondos/mapa.png'
import Hombres from '@/assets/fondos/link-hombres.webp'
import Mujeres from '@/assets/fondos/link-mujeres.webp'
import Vestimenta from '@/assets/fondos/codigo-vestimenta.webp'
import Recomendaciones from '@/assets/fondos/recomendaciones.webp'
import Confirmacion from '@/assets/fondos/confirmacion.webp'
import Playlist from '@/assets/fondos/playlist.webp'
import Asistencia from '@/assets/fondos/asistencia.webp'
---

<Layout>
	<section class="h-[200vh]">
		<picture id="fondo" class="fixed h-screen scale-[1.35]">
			<img src={Fondo.src} alt="Foto de fondo" class="object-cover h-full brightness-70" />
		</picture>

		<div class="sticky top-0 overflow-hidden w-full h-screen flex items-center">
			<img id="hero-postal" src={Gif.src} alt="Postales" >
		</div>
	</section>
	
	<section id='division' class="relative h-[80vh] overflow-hidden flex flex-col ">
		<div>
			<img src={Hilos.src} alt="Letras de la cuerda de 3 hilos" class="relative w-[85%] mx-auto">
			<h2 class="relative font-parrafos text-[38px] -top-5 left-1/4 ml-3 text-[#5A3B2C]">31.08.2025</h2>
			<!-- <p class="font-numeros text-3xl text-center text-[#5A3B2C] -mt-5"></p> -->
		</div>
		<div class="relative w-full h-full flex justify-center items-center">
			<div class="relative w-52 z-10">
				<img src={Novios.src} alt="Foto de los novios" class="" />
			</div>
			<p class="absolute text-[17px] font-parrafos mx-7 text-center mt-8 -rotate-3">
				El amor es grande e increíblemente paciente. El amor es gentil y siempre amable con todos. Se niega a sentir celos cuando alguien más recibe una bendición. El amor no se jacta de sus logros ni exagera su propia importancia. El amor no trafica con la vergüenza y la falta de respeto, ni busca egoístamente su propio honor. El amor no se irrita fácilmente ni se ofende con rapidez. El amor celebra con alegría la honestidad y no encuentra placer en lo que está mal. El amor es un refugio seguro, ya que nunca deja de creer lo mejor de los demás. El amor nunca toma el fracaso como una derrota, ya que nunca se rinde.
			</p>
		</div>
	</section>

	<section id='papel' class="relative h-[60vh]">
		<div class="w-full h-full flex flex-col justify-center">
			<div id="rollo-top"></div>
			<div class="carrusel">
				<picture class="carrusel__container">
					<div class="carrusel__slide">
						<img src={Foto1.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto2.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto3.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto4.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto6.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto7.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto9.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto10.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto12.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto13.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto14.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto15.src} alt="Foto de los novios" class="img-carrusel"	 />
					</div>
					<div class="carrusel__slide">
						<img src={Foto16.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
				</picture>
			</div>
			<div id="rollo-bottom"></div>
		</div>
	</section>

	<section id="sect-map" class="relative h-[60vh] flex justify-center flex-wrap z-10">
		<picture class="w-4/5">
			<img src={PapelMapa.src} alt="Foto de fondo" class="object-cover h-full" />
		</picture>
		<picture class="absolute w-4/5">
			<img id="map" src={Mapa.src} alt="Foto de fondo" class="object-cover h-full opacity-0" />
		</picture>
		<p class="font-numeros relative -top-3 text-end text-[14px] w-48 translate-x-20">Cabañas la odisea <br>Vía a El Pantano, Subachoque, Cundinamarca <br>Inicio 2:30 pm</p>
	</section>

	<section id='vestimenta' class="relative overflow-hidden flex flex-col items-center">
		<img src={Vestimenta.src} alt="Foto de fondo" class="w-64 mt-4" />
		<div class="w-full flex justify-center flex-wrap">
			<a href="https://co.pinterest.com/hannecamilas/mujeres/" target="_blank" rel="noopener noreferrer" class="self-center w-1/2">
				<img src={Mujeres.src} alt="Link a Instagram mujeres" class="w-5/6 justify-self-center translate-x-4" />
			</a>
			<a href="https://co.pinterest.com/hannecamilas/hombres/" target="_blank" rel="noopener noreferrer" class="self-center w-1/2">
				<img src={Hombres.src} alt="Link a Instagram hombres" class="w-[153px] justify-self-center -translate-8" />
			</a>
			<img src={Recomendaciones.src} alt="Recomendaciones de vestimenta" class="relative w-full bottom-8 pl-3 pr-1" />
		</div>
	</section>
	
	<footer id="asistencia" class="relative h-[55vh] flex flex-col items-center justify-center">
		<div class="w-full flex justify-center translate-x-10">
			<img src={Asistencia.src} alt="Aviso para confirmar asistencia" class="w-40">
		</div>
		<a href="https://wa.me/573224478818?text=Hola%20quiero%20confirmar%20mi%20asistencia" target="_blank" class="-translate-x-3.5">
			<img src={Confirmacion.src} alt="confinrmacion" class="w-72" />
		</a>
		<a href="https://open.spotify.com/playlist/6fZVMWG7438nKK75PjP5AM?si=ccANpr8RTlObgnDJ3OCBSQ&pt=62620e47cd1c9855560569615807e948" target="_blank" class="translate-x-14 -translate-y-14">
			<img src={Playlist.src} alt="icono para playlist" class="w-36 ">
		</a>
	</footer>
</Layout>



<script>
	import { gsap } from 'gsap'	
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	import EmblaCarousel from 'embla-carousel'
	import AutoScroll from 'embla-carousel-auto-scroll'

	const emblaNode = document.querySelector('.carrusel')
	const carrusel = EmblaCarousel(emblaNode, {loop: true}, [
		AutoScroll(
			{
				startDelay: 10,
				stopOnInteraction: false,
				speed: 1.5
			}
		)
	])
	
	carrusel
	gsap.registerPlugin(ScrollTrigger)

	const tl = gsap.timeline({
		scrollTrigger: {
			scrub: 1,
		}
	})

	tl.to('#fondo', {duration: .02, scale: 1})
</script>

<style>
	#division {
		background-image: url('../assets/fondos/fondo-rasgado.webp');
		background-size: cover;
	}
	
	.carrusel__slide::after, .carrusel__slide::before {
		content: '';
		position: absolute;
		top: 0;
		width: 18px;
		height: 102%;
		background-color: #000;
	}
	.carrusel__slide::after {
		right: -1px;
	}
	.carrusel__slide::before {
		left: -1px;
	}


	#papel {
		background-image: url('../assets/fondos/papel-2.webp');
		background-size: cover;
	}
	#rollo-top, #rollo-bottom {
		background-size: cover;
		background-position: center;
		height: 6%;
		width: 100%;
		z-index: 50;
		animation: efecto linear infinite 4s;
		background-image: url('../assets/rollos/1_1@4x-8.png');
	}
	#rollo-top {
		rotate: 180deg;
	}

	#sect-map {
		background-image: url('../assets/fondos/papel-2.webp');
		background-size: cover;
	}

	#map {
		view-timeline-name: --map;
		view-timeline-axis: block;

		animation-timeline: --map;
		animation-name: show;
		animation-range: 15% 60%;
		animation-fill-mode: both;
	}

	#vestimenta {
		background-image: url('../assets/fondos/papel-2.webp');
		background-size: cover;
		background-position: top;
	}

	#asistencia {
		background-image: url('../assets/fondos/papel-2.webp');
		background-size: cover;
		background-position: bottom;
	}

	@keyframes efecto {
		0% {
			background-image: url('../assets/rollos/1_1@4x-8.png')
		}
		25% {
			background-image: url('../assets/rollos/2_1@4x-8.png')
		}
		50% {
			background-image: url('../assets/rollos/4_1@4x-8.png')
		}
		75% {
			background-image: url('../assets/rollos/6@4x-8.png')
		}
		100% {
			background-image: url('../assets/rollos/7@4x-8.png')
		}
	}

	@keyframes show {
		from {
			opacity: 0;
			scale: 90%;
		}
		to {
			opacity: 1;
			scale: 100%;
		}
	}
</style>