---
import Layout from '@/layouts/Layout.astro'
import Fondo from '@/assets/fondos/novios.webp'
import Division from '@/assets/fondos/division.webp'
import Gif from '@/assets/fondos/tarjeta.gif'
import Novios from '@/assets/fondos/versiculo-novios.webp'
import Foto1 from '@/assets/carrusel/01.webp'
import Foto2 from '@/assets/carrusel/02.webp'
import Foto3 from '@/assets/carrusel/03.webp'
import Foto4 from '@/assets/carrusel/04.webp'
import Foto5 from '@/assets/carrusel/05.webp'
import Foto6 from '@/assets/carrusel/06.webp'
import Foto7 from '@/assets/carrusel/07.webp'
import Foto8 from '@/assets/carrusel/08.webp'
import Foto9 from '@/assets/carrusel/09.webp'
import Foto10 from '@/assets/carrusel/10.webp'
import Foto11 from '@/assets/carrusel/11.webp'
import Foto12 from '@/assets/carrusel/12.webp'
import Foto13 from '@/assets/carrusel/13.webp'
import Foto14 from '@/assets/carrusel/14.webp'
import Foto15 from '@/assets/carrusel/15.webp'
import Foto16 from '@/assets/carrusel/16.webp'
---

<Layout>
	<section class="max-sm:min-h-[150dvh]">
		<picture id="fondo" class="fixed w-full scale-125">
			<img src={Fondo.src} alt="Foto de fondo" class="object-cover h-full brightness-70" />
		</picture>

		<div class="sticky top-0 overflow-hidden w-full h-[100dvh] flex items-center">
			<img id="hero-postal" src={Gif.src} alt="Postales" >
		</div>
	</section>
	
	<section id='division' class="relative h-[80dvh] w-full overflow-hidden">
		<h2 class="relative z-10 font-number text-5xl text-center mt-20">31 AGOSTO 2025</h2>
		<h2 class="relative z-10 font-text text-4xl text-center">2:00 <b class="text-3xl">PM</b></h2>
		<img src={Novios.src} alt="Foto de los novios" class="relative my-8 w-4/5 mx-auto" />
	</section>

	<section id='papel' class="relative h-[80dvh] w-full overflow-hidden">
		<div class="w-full h-full flex flex-col justify-center">
			<div id="rollo-top"></div>
			<div class="carrusel">
				<picture class="carrusel__container">
					<div class="carrusel__slide">
						<img src={Foto1.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto2.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto3.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto4.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto5.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto6.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto8.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto7.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto9.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto10.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto11.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto12.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto13.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto14.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
					<div class="carrusel__slide">
						<img src={Foto15.src} alt="Foto de los novios" class="img-carrusel"	 />
					</div>
					<div class="carrusel__slide">
						<img src={Foto16.src} alt="Foto de los novios" class="img-carrusel" />
					</div>
				</picture>
			</div>
			<div id="rollo-bottom"></div>
		</div>
	</section>
</Layout>



<script>
	import { gsap } from 'gsap'	
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	import EmblaCarousel from 'embla-carousel'
	import AutoScroll from 'embla-carousel-auto-scroll'

	const emblaNode = document.querySelector('.carrusel')
	const carrusel = EmblaCarousel(emblaNode, {loop: true}, [
		AutoScroll(
			{
				startDelay: 10,
				stopOnInteraction: false,
				speed: 1.5
			}
		)
	])
	

	gsap.registerPlugin(ScrollTrigger)

	const tl = gsap.timeline({
		scrollTrigger: {
			scrub: 1,
		}
	})

	tl.to('#fondo', {duration: 1, scale: 1})
		.to('#hero-postal', {duration: .25, opacity: 1}, .1)
</script>

<style>
	#division {
		background-image: url('../assets/fondos/papel-1.webp');
	}
	
	.carrusel__slide::after, .carrusel__slide::before {
		content: '';
		position: absolute;
		top: 0;
		width: 18px;
		height: 102%;
		background-color: #000;
	}
	.carrusel__slide::after {
		right: 0;
	}
	.carrusel__slide::before {
		left: 0;
	}


	#papel {
		background-image: url('../assets/fondos/papel-2.webp');
	}
	#rollo-top, #rollo-bottom {
		background-size: cover;
		background-position: center;
		height: 6%;
		width: 100%;
		animation: efecto linear infinite 6s;
	}
	#rollo-top {
		rotate: 180deg;
	}

	@keyframes efecto {
		0% {
			background-image: url('../assets/rollos/1_1@4x-8.png')
		}
		20% {
			background-image: url('../assets/rollos/2_1@4x-8.png')
		}
		40% {
			background-image: url('../assets/rollos/4_1@4x-8.png')
		}
		60% {
			background-image: url('../assets/rollos/5@4x-8.png')
		}
		80% {
			background-image: url('../assets/rollos/6@4x-8.png')
		}
		100% {
			background-image: url('../assets/rollos/7@4x-8.png')
		}
	}
</style>